{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Node JS</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto est temporibus dignissimos quod eveniet blanditiis perspiciatis! Facilis aspernatur sequi ipsam quis quidem, deleniti laborum, natus modi officiis dolore, voluptate dignissimos!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/nodejs.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}